$color-primary: #3AC2E0;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-off-white: #F5F5F5;
$color-gray-medium: #9E9E9E;
$mobile-signup-height: 13rem;
$min-width: 300px;

:root {
    --multiplier: 0.716;
    font-size: calc(var(--multiplier) * 62.5%);  // normal 16px rem -> 10px
}

// ====================
//        FONTS
// ====================

body {
    min-width: $min-width;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04rem;
}

h1, h2, h3, h4, h5, h6, q {
    font-family: 'Trispace', sans-serif;
    font-style: normal;  
    font-weight: 600;
    letter-spacing: 0.03rem; 
    margin: 0 0 1rem 0; 
}

h1 {
    font-size: 4.8rem;
    line-height: 5.8rem;
}

h2 {
    font-size: 2.4rem;
    line-height: 3.6rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

h4 {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.0rem;
}

q {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.0rem;
    quotes: '\00AB' '\00BB' '\201E' '\201C';
    display: block;
}

.body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04rem;

    &--small {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    &--medium {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    &--large {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

p, a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.04rem;

    font-size: 1.6rem;
    line-height: 2.2rem;
}

p {
    margin: 0 0 2rem 0;
}

a {
    color: $color-primary;
    text-decoration: none;
}


// ====================
//        LAYOUT
// ====================
.content-container {
    width: 100%;
    min-width: $min-width;
    box-sizing: border-box;    
    margin-bottom: $mobile-signup-height;

    main {
        margin: 2.4rem;
    }
}

.signup-container {
    width: 100%;
    min-width: $min-width;
    box-sizing: border-box;
    background-color: $color-gray-off-white;
    padding: (10px / $min-width) * 100% (20px / $min-width) * 100%;
    position: fixed;
    bottom: 0;
    height: $mobile-signup-height;
}

.signup-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

    &__form {
        input, button {
            width: 100%;
            height: 3rem;
            box-sizing: border-box;
            font-size: 1.8rem;
            line-height: 2.4rem;
            border-radius: 0.01rem;
        }

        input[type="email"] {
            color: $color-gray-medium;
            border: 0.01rem solid $color-gray-medium;
        }

        button[type="submit"] {
            background-color: $color-primary;
            border: none;
            color: $color-white;
            margin-top: 0.5rem;
            text-align: center;
        }
    }

    &__sinker {
        display: none;
    }
}

footer {
    width: 100%;
    background-color: $color-primary;
    box-sizing: border-box;
    padding: 2rem 4rem;

    ul > li {
        display: inline;
        margin: 0 3rem 0 0;

        a {
            color: $color-white;
        }
    }
}

.features {
    .feature {
        margin: 0 0 2rem 0;

        &__tagline {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
        }

        &__icon {
            width: 2.5rem;
            height: 2.5rem;
            float: left;
        }

        h3::before {
            display: block;
            float: left;
            content: url('gray_box.svg');
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 2rem;
        }

        p {
            margin:0;
        }
    }
}

.quotes {
    margin: 2.5rem 5.6rem;

    .quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 2.4rem;
        border-top: 0.1rem solid $color-black;

        &__icon, &__text {
            margin-top: 2rem;
        }

        &__icon {
            width: 2.4rem;
            height: 2.4rem;
        }
        & + .last {
            border-bottom: 0.1rem solid $color-black;
        }

        q {
            margin-bottom: 2.0rem;
        }
    }

    .learn-more {
        margin: 2.5rem 0;

        ul > li {
            a {
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
    }
}