:root {
  --smallest-unit: 0.0716rem;
  --gutter: calc((20 / 300) * 100vw);
  --column: calc((100vw - 4 * var(--gutter)) / 3);
  font-size: 62.5%; }

body, p, a, .signup-hero__form *, h1, h2, h3, h4, h5, h6, q {
  line-height: 1.5em;
  font-style: normal; }

body, p, a, .signup-hero__form * {
  letter-spacing: 0.01rem; }

.signup-hero, footer {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("bkg.jpg");
  background-size: 100%; }

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6, q {
  font-family: 'Trispace', sans-serif;
  font-weight: 600;
  margin-bottom: 2rem; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 0.83em; }

q {
  font-weight: 300;
  font-size: 1.4rem;
  display: block; }

p, a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1em; }

p {
  margin-bottom: 2rem; }
  p:last-of-type {
    margin-bottom: 4rem; }

a {
  color: #0286FF;
  text-decoration: none; }

.container {
  min-width: 300px; }
  .container__content {
    width: 100%;
    min-width: 300px; }
  .container__signup {
    display: none; }

.header {
  width: 100%; }
  .header__tagline {
    padding: var(--gutter);
    background-color: #000000;
    color: #FFFFFF;
    margin-bottom: 1.6rem; }
    .header__tagline h1 {
      margin: 0; }
  .header p {
    padding: 0 var(--gutter);
    font-size: 1.2em; }

.sellers {
  padding: 0 var(--gutter); }

.signup-hero {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-position-y: -50%;
  color: #FFFFFF;
  padding: 1rem var(--gutter);
  padding-bottom: 2rem;
  position: sticky;
  height: 9.3rem;
  bottom: 0; }
  .signup-hero h3 {
    margin-bottom: 1rem; }
  .signup-hero__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; }
    .signup-hero__form * {
      box-sizing: border-box;
      font-size: 1em;
      height: 2em;
      border-radius: var(--smallest-unit);
      padding: 0; }
    .signup-hero__form input[type="email"] {
      color: #9E9E9E;
      border: var(--smallest-unit) solid #9E9E9E;
      padding: 0.5em; }
    .signup-hero__form button[type="submit"] {
      background-color: #0286FF;
      border: none;
      color: #FFFFFF;
      text-align: center;
      margin-top: 0.5rem; }
  .signup-hero q {
    margin-top: 1.2rem;
    margin-bottom: 0; }

footer {
  width: 100%;
  min-width: 300px;
  background-position-y: 50%;
  box-sizing: border-box;
  padding: 2rem 4rem;
  height: 9.3rem; }
  footer ul > li {
    display: inline;
    margin: 0 3rem 0 0; }
    footer ul > li a {
      color: #FFFFFF; }

.features .feature {
  margin: 0 0 2rem 0; }
  .features .feature__icon {
    width: var(--column);
    height: var(--column);
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path d="M0,0h1v1H0" fill="%23C4C4C4"/></svg>'); }
  .features .feature p {
    margin: 0; }

.quotes .quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: var(--smallest-unit) solid #000000; }
  .quotes .quote__icon, .quotes .quote__text {
    margin-top: 1rem; }
  .quotes .quote__icon {
    width: 1rem;
    height: 1rem; }
  .quotes .quote:first-child {
    border-top: var(--smallest-unit) solid #000000; }
  .quotes .quote q {
    margin-bottom: 1.0rem; }
  .quotes .quote p {
    font-weight: 600; }
.quotes .learn-more {
  margin: 1.5rem 0;
  font-size: 1.4em; }
  .quotes .learn-more ul {
    margin-bottom: var(--gutter); }
  .quotes .learn-more p {
    margin-bottom: 1rem; }

@media all and (max-width: 299px) {
  :root {
    --gutter: 2rem; } }
@media all and (min-width: 400px) and (max-width: 749px) {
  .signup-hero {
    padding-top: 2rem; }
    .signup-hero__form {
      flex-direction: row;
      justify-content: space-between; }
      .signup-hero__form * {
        height: 2.6em; }
      .signup-hero__form input[type="email"] {
        width: calc(2 * var(--column) + var(--gutter)); }
      .signup-hero__form button[type="submit"] {
        width: var(--column);
        margin: 0; } }
@media all and (min-width: 535px) {
  :root {
    --width-base: 535;
    font-size: calc(100vw / calc(var(--width-base) / 10)); } }
@media all and (min-width: 750px) {
  :root {
    --width-base: 750;
    --gutter: calc((36 / 750) * 100vw);
    --column: calc(3 * var(--gutter)); }

  .signup-hero--mobile {
    display: none; }

  .container {
    display: flex;
    flex-direction: row; }
    .container__content {
      flex: 4; }
      .container__content .header h1, .container__content .header p, .container__content .sellers {
        margin-right: var(--gutter);
        width: calc(3 * var(--column) + var(--gutter)); }
      .container__content .header {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .container__content .header__tagline {
          display: flex;
          justify-content: right;
          padding-right: 0;
          width: 100%; }
        .container__content .header h1, .container__content .header p {
          padding-right: 0; }
      .container__content .sellers {
        float: right;
        padding: 0; }
    .container__signup {
      flex: 3;
      height: 100vh;
      font-size: 1.5em;
      position: sticky;
      top: 0;
      bottom: auto;
      background: url("bkg.jpg");
      background-size: auto 135%;
      background-position-x: right 25%;
      display: flex;
      align-items: center; }
      .container__signup .signup-hero {
        min-width: 0;
        width: calc(2 * var(--column) + var(--gutter));
        padding: var(--gutter);
        float: left;
        margin-left: var(--gutter);
        background: rgba(0, 0, 0, 0.75);
        height: auto; }
        .container__signup .signup-hero__sinker {
          display: block; }
        .container__signup .signup-hero__form * {
          height: var(--gutter); } }
@media all and (min-width: 1050px) {
  :root {
    font-size: 87.5%;
    --gutter: calc((50 / 14) * 1rem);
    --column: calc((150 / 14) * 1rem); } }

/*# sourceMappingURL=index.css.map */
