$color-primary: #3AC2E0;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-off-white: #F5F5F5;
$color-gray-medium: #9E9E9E;
$mobile-signup-height: 9.3rem;

:root {
    --multiplier: 0.716;
    font-size: calc(var(--multiplier) * 62.5%);  // normal 16px rem -> 10px
}

// ====================
//        FONTS
// ====================

.heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.04rem;

    &--large {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
}

.body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.04rem;

    &--small {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    &--large {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}

.accent {
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03rem;

    &--small {
        font-weight: 600;
        font-size: 2.0rem;
        line-height: 2.8rem;
    }

    &--medium {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }

    &--large {
        font-size: 4.8rem;
        line-height: 5.8rem;
    }
}

.link {
    color: $color-primary;
}

.content-container {
    padding: 2.4rem;
    margin-bottom: 2 * $mobile-signup-height;
}

.signup-hero {
    background-color: $color-gray-off-white;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $mobile-signup-height;

    &__tagline {
        width: calc(100% - 10rem);
    }

    &__form {
        input, button {
            width: calc(100% - 10rem);
            height: 5rem;
            box-sizing: border-box;
            font-size: 1.8rem;
            line-height: 2.4rem;
            border-radius: 0.01rem;
        }

        input[type="email"] {
            margin-top: 1.3rem;
            color: $color-gray-medium;
            border: 0.01rem solid $color-gray-medium;
        }

        button[type="submit"] {
            margin-top: 2rem;
            background-color: $color-primary;
            border: none;
            color: $color-white;
            text-align: center;
        }
    }

    &__sinker {
        margin-top: 1.7rem;
        width: calc(100% - 10rem);
        display: none;
    }
}

.features {
    .feature {
        &__tagline {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
        }

        &__icon {
            width: 2.5rem;
            height: 2.5rem;
            float: left;
        }
    }
}

.quotes {
    padding: 0 7.2rem;

    &__divider {
        border: 0.1rem solid $color-black;
    }
    .quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 2.4rem;

        &__icon, &__text {
            margin-top: 2rem;
        }

        &__icon {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}